@import url('https://fonts.googleapis.com/css?family=Raleway:900');
@import url('https://fonts.googleapis.com/css?family=Roboto');

html,
body {
  margin: 0;
  height: 100%
}

#start img {
max-width: 100%;
max-height: 70%;
}


header {
  position: fixed;
  background-color: #8bd8bd;
  /* top: 20px;
  left: 250px; */
  width: 100%;
  height: 35px;
  padding-top: 10px;
  text-align: center; /*centers navbar text */
    z-index: 3;
}

span.navigationSpace {
    padding-left: 50px;
}

a {
  color: white;
  text-decoration: none;
  font-size: 12px;
  font-family: arial, sans-serif;
  font-weight: 400;
  font-style: normal;
}

a:hover {
  /* text-decoration: underline; */
  /* color: #ff9fdd; */
  text-decoration: overline;
}
a.active {
  color: #fa41de;
  text-decoration: underline overline;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  text-decoration: overline;
  text-decoration-color: yellow;
}



section {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #000000;
}

/* white box background in pink sections */
.inner {
    background-color: White;
    width: 90%;
    height: 80%;
}




h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 35px;
  color: #fa41de;
}
/* This is the intro section */
#introText {
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  line-height: 40px;
  padding-left: 150px;
  padding-right: 150px;
  color: #757775;
}

#introText {


}

#instructions {
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  line-height: 40px;
  color: #757775;
}

/* This is the Cost of Living section */

#Col {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-gap: 20px;
}

#Col h1{
  text-align: left;
  padding-left: 90px;
  padding-top: 60px;
  /* padding-top: 40px; */
  margin: 0px;
  grid-column: 1 / span 4;
  grid-row: 3 / span 1;
}

#Col a {
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  line-height: 26px;
  color: #fa41de;
}

#Col a:hover {
  text-decoration: underline;
  color: #6fc59b;
}



#Col p {
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  line-height: 26px;
  color: #757775;
  text-align: left;
  padding-left: 90px;
  grid-column: 1 / span 4;
  grid-row: 4 / span 4;
}
#chart-div {
  grid-column: 5 / span 4;
  grid-row: 3 / span 2;
}

#buttons {
  grid-column: 7 / span 3;
  grid-row: 3 / span 1;
  padding-top: 20px;

  z-index: 2;
}

#b1 {
    color: #258393;
}
#b2 {
    color: #258393;
}
#b3 {
    color: #258393;
}
#b4 {
    color: #258393;
}

/* #b1:active{
    color: #154B9B;
} */




/* This is the Healthcare section */

#healthcaretext {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-gap: 20px;
  height: auto;
  min-height: 590px;
}
#healthcaretext h1 {
  /* text-align: left;
  padding-left: 150px;
  padding-top: 40px;
  margin: 0px; */
  text-align: left;
  padding-left: 150px;
  padding-top: 60px;
  /* padding-top: 40px; */
  margin: 0px;
  grid-column: 1 / span 2;
  grid-row: 3 / span 1;
}

#healthcaretext p {
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  line-height: 26px;
  color: #757775;
  text-align: left;
  grid-column: 1 / span 5;
  grid-row: 4/ span 3;
  padding-left: 150px;
}

#healthcaretext a {
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  line-height: 26px;
  color: #fa41de;
}

#healthcaretext a:hover {
  text-decoration: underline;
  color: #6fc59b;
}

#top_x_div {
  grid-column: 6 / span 3;
  grid-row: 3 / span 2;
  padding-top: 100px;
}



/* This is the Crime section */
#crimetext {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-gap: 20px;
  height: auto;
  min-height: 590px;
  /* grid-auto-rows: minmax(100px, auto); */
  /* grid-template-rows: repeat(2, auto); */
}

#crimetext h1 {
  text-align: left;
  padding-left: 90px;
  padding-top: 60px;
  /* padding-top: 40px; */
  margin: 0px;
  grid-column: 1 / span 4;
  grid-row: 3 / span 1;
}

#crimetext p {
  /* float: right; */
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  line-height: 26px;
  color: #757775;
  text-align: left;
  grid-column: 1 / span 5;
  grid-row: 4 / span 4;
  padding-left: 90px;
}

#crimetext a {
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  line-height: 26px;
  color: #fa41de;
}

#crimetext a:hover {
  text-decoration: underline;
  color: #6fc59b;
}

.crimepics {
  grid-column: 6 / span 4;
  grid-row: 3 / span 4;
  /* grid-row: 2 / span auto; */
  display: grid;
  grid-template-columns: repeat(4, 1fr);

}

/* .crimepics {
  width: 90%;
  height: 90%;
} */


/* .crimepics {
    max-width: 400px;
    max-height: 500px;
    float: right;

} */

#crime-Belize {
  grid-column: 1 / span 1;
  grid-row: 1 / span auto;

}

#crime-Colombia {
  grid-column: 2 / span 1;
  grid-row: 1 / span auto;
}

#crime-CostaRica {
  grid-column: 3 / span 1;
  grid-row: 1 / span auto;
}

#crime-DR {
  grid-column: 4 / span 1;
  grid-row: 1 / span auto;
}

#crime-Ecuador {
  grid-column: 1 / span 1;
  grid-row: 2 / span auto;
}

#crime-Malaysia {
  grid-column: 2 / span 1;
  grid-row: 2 / span auto;
}

#crime-Malta {
  grid-column: 3 / span 1;
  grid-row: 2 / span auto;
}

#crime-Mexico {
  grid-column: 4 / span 1;
  grid-row: 2 / span auto;
}

#crime-Panama {
  grid-column: 1 / span 1;
  grid-row: 3 / span auto;
}

#crime-Portugal {
  grid-column: 2 / span 1;
  grid-row: 3 / span auto;
}

#crime-Spain {
  grid-column: 3 / span 1;
  grid-row: 3 / span auto;
}
#crime-Thailand {
  grid-column: 4 / span 1;
  grid-row: 4 / span auto;
}


/* This is the Life Expectancy section */
#lifetext {
  max-width: 40%;
  max-height: 90%;
}

#lifetext h1 {
  text-align: left;
  padding-left: 90px;
  padding-top: 40px;
  margin: 0px;

}

#lifetext p {
  float: left;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  line-height: 26px;
  color: #757775;
  text-align: left;
  padding-left: 90px;
  padding-top: 20px;
}

#lifetext a {
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  line-height: 26px;
  color: #fa41de;
}

#lifetext a:hover {
  text-decoration: underline;
  color: #6fc59b;
}

#lifechart {
  /* max-width: 55%;
  max-height: 40%; */
  float: right;
}



/* This is Data by Country */
/* #countrypics {
padding-left: 100px;
padding-right: 100px;
} */


#countryheader h1 {
  text-align: left;
    padding-left: 90px;
  padding-top: 40px;
  padding-bottom: 10px;
  margin: 0px;
  width: 60%;

}

#countryheader p {
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  line-height: 26px;
    padding-left: 90px;
  color: #757775;
  text-align: center;
}



.box img{
  padding: 10px;
  cursor: pointer;
  transition: all 0.3s ease-out;
  max-width: 10%;
  max-height: 40%;
}

.button:hover {
  background: #06D85F;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;

  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 60%;
  height: auto;
  position: relative;

  /* transition: all 5s ease-in-out; */
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06D85F;
}

.popup .content {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* #section-4 img{
  width: 100%;
  height: 90%;
} */
.about-nav {
  float:left;
  padding-left: 50px;
}
.about {
  padding-top: 75px;
}

.about p {
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  line-height: 26px;
  color: #757775;
  text-align: center;
}


.about a {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #fa41de;
}

.about a:hover {
  text-decoration: underline;
  color: #6fc59b;
}

.full-screen {
  height: 100%; /* makes panels the entire window height */
}

.pink {
	background-color:  #ffa9a0;
}
.blue {
	background-color: #080a52;
}
.green {
	background-color: #8bd8bd;
}

.white {
  background-color: white;
}

@media screen and (max-width: 700px){
  .box{
    width: 70%;
  }
  .popup{
    width: 70%;
  }
}

@supports(display: grid) {
        .message {
          display: none;
        }}
